.layer {
    //height: 300px;
    //width: 300px;
    //background-color: white;
    box-shadow: 3px 9px 0px rgba(0, 0, 0, 0.3);
    border:7px solid black;
    border-radius: 20px;
    transform: rotate(25deg);
    //right: 0px;
    //height: 120px;
    //width: 120px;
}
